<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gobangdemo.mapper.UserMapper">
    <insert id="add">
        insert into values(null, #{username}, #{password}, 1500, 0, 0);
    </insert>

    <select id="userSelectByName" resultType="com.example.gobangdemo.mode.User">
        select * from user where username = #{username};
    </select>
</mapper>