<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.musicdemo.mapper.LoveMusicMapper">
    <resultMap id="BaseMap" type="com.example.musicdemo.model.LoveMusic">
        <id column="id" property="id"></id>
        <result column="user_id" property="user_id"></result>
        <result column="music_id" property="music_id"></result>

        <association property="music" resultMap="com.example.musicdemo.mapper.MusicMapper.BaseMap"></association>
    </resultMap>


    <insert id="insertLoveMusic">
        insert into lovemusic(user_id, music_id) values(#{uid}, #{mid});
    </insert>
    <delete id="deleteLoveMusic">
        delete from lovemusic where user_id=#{uid} and music_id=#{mid};
    </delete>
    <delete id="deleteLoveMusicByMid">
        delete from lovemusic where music_id=#{mid};
    </delete>


    <select id="findLoveMusic" resultType="com.example.musicdemo.model.LoveMusic">
        select * from lovemusic where music_id=#{mid} and user_id=#{uid};
    </select>
    <select id="findLoveMusicByUid" resultMap="com.example.musicdemo.mapper.MusicMapper.BaseMap">
        select m.* from lovemusic as lm left join music as m on lm.music_id=m.mid where lm.user_id=#{uid};
    </select>
    <select id="findLoveMusicByUidAndName" resultMap="com.example.musicdemo.mapper.MusicMapper.BaseMap">
        select m.* from  lovemusic as lm left join music as m on lm.music_id=m.mid where lm.user_id=#{uid}
        and m.title like concat('%', #{musicName}, '%');
    </select>
</mapper>